html {
  min-height: 100%;
}
body {
  background: linear-gradient(
    360deg,
    rgb(96, 9, 58) 0%,
    rgb(77, 6, 47) 36%,
    rgb(4, 4, 4) 100%
  );
  color: white;
  margin: 50px 50px;
}
.link {
  padding: 20px;
}
.url {
  color: #edc4d1;
}
@media (max-width: 775px) {
  .link {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  body {
    text-align: center;
  }
}
@media (max-width: 409px) {
  body {
    padding: 0px 0px;
    margin: 0px 0px;
  }
}
@media (max-width: 427px) {
  .link {
    font-size: 15px;
    padding: 2px;
  }
}
