.contact-form {
  font-size: 18px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 30px 30px;
  text-align: center;
  display: block;
  margin: 60px 300px 40px 300px;
  background: var(--gradient-pink);
}
.link {
  padding: 20px;
}
.icon {
  font-size: 30px;
}
.get-in-touch {
  font-size: 30px;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.url {
  color: var(--light-pink);
}
@media (max-width: 1175px) {
  .contact-form {
    margin: 60px 200px 40px 200px;
  }
}
@media (max-width: 975px) {
  .contact-form {
    margin: 60px 100px 40px 100px;
  }
}
@media (max-width: 715px) {
  .contact-form {
    margin: 60px 50px 40px 50px;
  }
}
@media (max-width: 669px) {
  .icon {
    font-size: 20px;
  }
}
@media (max-width: 588px) {
  .contact-form {
    margin: 60px 10px 40px 10px;
  }
}

@media (max-width: 508px) {
  .contact-form {
    margin: 60px 0px 40px 0px;
    padding: 10px 0px;
  }
  .get-in-touch {
    font-size: 20px;
  }
}
